#menu
{
    width: 15%;
    float: left;
    height: 100%;
    background-color: #ABF;

    
    
}

#container
{
    width: 85%;
    height:  100%;
    float: left;
    background-color: #FFA;
    
}

#tela
{
    width: 100%;
    float: left;

}

img
{
    opacity:0.5;
    -moz-opacity:0.5;
    padding-left: 10px;
}