#menu
{
    width: 300px;
    float: left;
    clear: left;
    
}

#container
{
    width: 500px;
    float: left;
    clear: left;
    
    
}

#tela
{
    width: 800px;
    float: left;
    clear: left;
    
}